<section id="footer">
        <div class="content style4 featured">
            <div class='row'>
                <div class="6u 12u(narrow)">
                   <ul>
                      <h3>Useful Links</h3>
                      <li>
                       <a href='<%= root_path%>'> Home </a>
                      </li>
                      <li>
                       <a href='<%= how_to_reserve_path%>'> How to Reserve </a>
                      </li>
                      <li>
                       <a href='<%= about_smdc_path%>'> About SMDC </a>
                      </li>
                      <li>
                       <a href='<%= privacy_policy_path%>'>Privacy Policy</a>
                      </li>
                      <li>
                       <a href='<%= terms_of_service_path%>'>Terms of Service</a>
                      </li>
                   </ul>
                </div>
                <div class="6u 12u(narrow)">
                    <p>HLURB TLS ENCRFO 16-01-004</p>
                    <p>Location: Roxas Blvd., Brgy. San Rafael, Pasay City, Philippines</p>
                    <p>Completion Date: 1st Quarter 2020</p>
                    <p>Owner & Developer: SM Development Corporation</p>
                    <%= image_tag("smdc-premiere-logo.png", {alt: "SMDC Premiere Logo", height: "40%", width: "40%"})%>
                </div>
            </div>
        </div>
        <div class="copyright">
            <ul class="menu">
                <li>&copy; TheCoastResidences. All rights reserved.</li>
                <li>Design: <a href='http://html5up.net' target='_blank'>HTML5 UP</a></li>
                <li>Web Developer: <a href='http://jralquisola.me' target='_blank'>jralquisola</a></li>
            </ul>
        </div>
</section>
