
<!DOCTYPE HTML>
<html>
        <head>
                <title>SMDC Coast Residences</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
                <%= stylesheet_link_tag    'lp1', media: 'all'%>
                <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
                <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        </head>
        <body>

                <!-- Header -->
                        <section id="header" class="dark">
                                <header>
                                    <h1>Welcome to <strong>Coast Residences</strong></h1>
                                        <p>A Location With Rich Views of the Past and Present</p>
                                </header>
                                <footer>
                                        <a href="#first" class="button scrolly">Learn More</a>
                                </footer>
                        </section>

                <!-- First -->
                        <section id="first" class="main">
                                <header>
                                        <div class="container">
                                            <h2>New views await you at <i><strong>Coast Residences</strong></i>, the newest SMDC Premier Development</h2>
                                                <p>Situated in Roxas Boulevard, Coast Residences gives grand views of the Manila Bay Sunset and the Metro Manila Cityscape. With a stunning exterior design and interiors inspired by Bali’s top hotels, Coast Residences gives you a new view on premier condo living.</p>
                                        </div>
                                </header>
                                <div class="content dark style1 featured">
                                        <div class="container">
                                                <div class="row">
                                                        <div class="4u 12u(narrow)">
                                                                <section>
                                                                        <span class="feature-icon"><span class="icon fa-clock-o"></span></span>
                                                                        <header>
                                                                                <h3>Transportation</h3>
                                                                        </header>
                                                                        <p><i>Coast Residences</i> offers great convenience in terms of transportation options. Traveling is a breeze as there is easy access to public transit. Enjoying a premier location along Roxas Boulevard, it is right by major routes of public and private vehicles. Getting to and from Coast Residences is an experience in itself because of spectacular sights surrounding the development.</p>
                                                                </section>
                                                        </div>
                                                        <div class="4u 12u(narrow)">
                                                                <section>
                                                                        <span class="feature-icon"><span class="icon fa-bolt"></span></span>
                                                                        <header>
                                                                                <h3>World-class Entertainment</h3>
                                                                        </header>
                                                                        <p>Living in Coast Residences gives you the opportunity to live in an area rich in culture and history. Immerse yourself in world-class entertainment – visit a museum, catch a play, listen to opera. At the end of the day, take a walk by the boulevard and see for yourself the incomparable beauty of the Manila Bay sunset.</p>
                                                                </section>
                                                        </div>
                                                        <div class="4u 12u(narrow)">
                                                                <section>
                                                                        <span class="feature-icon"><span class="icon fa-cloud"></span></span>
                                                                        <header>
                                                                                <h3>City Sights and Evening Attractions</h3>
                                                                        </header>
                                                                        <p>Stroll through historic parks, cruise down the bay or dance the night away – the city’s possibilities are endless.</p>
                                                                </section>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="12u">
                                                                <footer>
                                                                        <a href="#second" class="button scrolly">Gravida tempor lacinia</a>
                                                                </footer>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </section>

                <!-- Second -->
                        <section id="second" class="main">
                                <header>
                                        <div class="container">
                                                <h2>More about the Coast Residences</h2>
                                                <p>Coast Residences is surrounded by reflections of Manila’s dynamic cultural mix. Amazing expressions of world class theatre, ballet, opera, music, and more, take the stage at The Cultural Center of the Philippines, a few minutes away from the development. To the west of the development, is the magical sunset of Manila Bay where one can enjoy the perfect stroll along the Baywalk or night out aboard <a href='http://www.manilayachtclub.com.ph/' target='_blank'> The Manila Yacht Club</a> cruise. Galleries, studios, and exhibits fill nearby Intramuros, Manila’s historic core. Travel southwards and bring entertainment and amusement to the optimum level, with theme-park Star City, concert-hall SM Arena, and international shopping destination,<a href='https://en.wikipedia.org/wiki/SM_Mall_of_Asia' target='_blank'> SM Mall of Asia.</a></p>
                                        </div>
                                </header>
                                <div class="content dark style2">
                                        <div class="container">
                                                <div class="row">
                                                        <div class="12u 12u(narrow)">
                                                                <section>
                                                                        <h3>Coast Residences: Features and Amenities</h3>
                                                                        <p>An exclusive Sunset Loung with a Game Room for residents are designed with floor-to-ceiling windows allowing natural light to fill the spaces and affording one panoramic views of the Makati's dazzling city sights and Mall of Asia's splendid fireworks display.</p>
                                                                        <a href="#" class="image fit"><img src="<%= image_path("coast-residences-amenity-area.jpg")%>" alt="" /></a>
                                                                        <br/>
                                                                        <p>Coast Residences embraces the full beauty of its watefront location with a breathtaking pool and view deck facing Manila Bay, for truly distinct leisurely moments everyday.</p>
                                                                        <a href="#" class="image fit"><img src="<%= image_path("coast-residences-pool.jpg")%>" alt="" /></a>
                                                                        <br/>
                                                                        <a href="#" class="image fit"><img src="<%= image_path("coast-residences-building-layout.jpg")%>" alt="" /></a>
                                                                        <footer>
                                                                                <a href="#third" class="button scrolly">Accumsan nisi tempor</a>
                                                                        </footer>
                                                                </section>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </section>

                <!-- Third -->
                        <section id="third" class="main">
                                <header>
                                        <div class="container">
                                                <h2>Location</h2>
                                                <a href="#" class="image fit"><img src="<%= image_path("coast-residences-map.png")%>" alt="" /></a>
                                        </div>
                                </header>
                                <div class="content dark style3">
                                        <div class="container">
                                                <h2>Choose from different types of units in Coast Residences Unit Types</h2>
                                                <div class="row">
                                                        <div class="12u 12u(narrow)">
                                                                <h3>Family Suite A With Balcony Model unit</h3>
                                                                <p>Enjoy an unbreathable setting with the dazzling city sights of the Makati City skyline right from your balcony. This unit has a flex area that may be converted to an office or workshop space so you can run the family business or work from home.</p>
                                                                <a href="#" class="image fit"><img src="<%= image_path("coast-residences-family-suite-unit.jpg")%>" alt="" /></a>
                                                        </div>
                                                        <div class="12u 12u(narrow)">
                                                                <h3>Family Suite B With Balcony Model Unit</h3>

                                                                <p>The comfort of your home combined with Coast Residences' pool waters and skyline views provide a revitalizing atmosphere. Convert your flex area to an interactive play room where you can bond with the kids after an afternoon weekend swim.</p>
                                                                <a href="#" class="image fit"><img src="<%= image_path("coast-residences-family-suite-b-unit.jpg")%>" alt="" /></a>
                                                        </div>
                                                        <div class="12u 12u(narrow)">
                                                                <h3>1 Bedroom With Balcony Model unit</h3>

                                                                <p>From your bedroom balcont, enjoy Manila Bay's claim to fame: breathtaking views of the sunset and beyond. Perfect for a relaxed stay-at-home evening after a busy week at work</p>
                                                                <a href="#" class="image fit"><img src="<%= image_path("coast-residences-one-bedroom-model-unit.jpg")%>" alt="" /></a>
                                                        </div>
                                                        <div class="12u 12u(narrow)">
                                                                <h3>Two-Bedroom Penthouse Model Unit</h3>
                                                                <p>High above the buzzing city, the lower and upper penthouse units are situated on the 40th and 41st floors of the development to offer romantic views of the city's iconic Manila Bay and Yacht Club. Stay-at-home weekends become more special as you indulge in magical sunsets with your loved ones.</p>
                                                                <a href="#" class="image fit"><img src="<%= image_path("coast-residences-two-bedroom-penthouse.jpg")%>" alt="" /></a>
                                                                <footer>
                                                                        <a href="#fourth" class="button scrolly">Ipsum ornare lorem dolor</a>
                                                                </footer>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </section>

                <!-- Basic Elements -->
                <!--
                        <section class="main">
                                <header>
                                        <div class="container">
                                                <h2>A Whole Lotta Elements</h2>
                                                <p>General purpose elements for every general purpose. Or something like that.</p>
                                        </div>
                                </header>
                                <div class="content style1 dark">
                                        <div class="container">
                                                <section>
                                                        <header>
                                                                <h3>Paragraph</h3>
                                                                <p>This is a byline</p>
                                                        </header>
                                                        <p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
                                                        habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
                                                        leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
                                                        amet risus elit.</p>
                                                </section>
                                                <section>
                                                        <header>
                                                                <h3>Blockquote</h3>
                                                        </header>
                                                        <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
                                                        tempus euismod. Vestibulum ante ipsum primis in faucibus. Cras sit amet urna eros, id egestas
                                                        tempus ante ipsum primis in faucibus orci luctus et ultrices.</blockquote>
                                                </section>
                                                <section>
                                                        <header>
                                                                <h3>Divider</h3>
                                                        </header>
                                                        <p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
                                                        ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
                                                        facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
                                                        tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                                        posuere cubilia.</p>
                                                        <hr />
                                                        <p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
                                                        ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
                                                        facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
                                                        tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                                        posuere cubilia.</p>
                                                </section>
                                                <section>
                                                        <header>
                                                                <h3>Unordered List</h3>
                                                        </header>
                                                        <ul class="default">
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                        </ul>
                                                </section>
                                                <section>
                                                        <header>
                                                                <h3>Ordered List</h3>
                                                        </header>
                                                        <ol class="default">
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                                <li>Donec consectetur vestibulum dolor et vel felis enim at viverra ligula. Ut porttitor sagittis lorem.</li>
                                                        </ol>
                                                </section>
                                                <section>
                                                        <header>
                                                                <h3>Table</h3>
                                                        </header>
                                                        <div class="table-wrapper">
                                                                <table class="default">
                                                                        <thead>
                                                                                <tr>
                                                                                        <th>ID</th>
                                                                                        <th>Name</th>
                                                                                        <th>Description</th>
                                                                                        <th>Price</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td>00001</td>
                                                                                        <td>Lorem ipsum dolor</td>
                                                                                        <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                                                        <td>29.99</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>00002</td>
                                                                                        <td>Sit amet nullam</td>
                                                                                        <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                                                        <td>19.99</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>00003</td>
                                                                                        <td>Feugiat felis viverra</td>
                                                                                        <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                                                        <td>29.99</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>00004</td>
                                                                                        <td>Sagittis enim felis</td>
                                                                                        <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                                                        <td>19.99</td>
                                                                                </tr>
                                                                                <tr>
                                                                                        <td>00005</td>
                                                                                        <td>Nullam sed vestibulum</td>
                                                                                        <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                                                                                        <td>19.99</td>
                                                                                </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                                <tr>
                                                                                        <td colspan="3"></td>
                                                                                        <td>100.00</td>
                                                                                </tr>
                                                                        </tfoot>
                                                                </table>
                                                        </div>
                                                </section>
                                                <section>
                                                        <header>
                                                                <h3>Form</h3>
                                                        </header>
                                                        <form method="post" action="#">
                                                                <div class="row 50%">
                                                                        <div class="6u 12u(narrow)">
                                                                                <input type="text" name="name" id="name" value="" placeholder="John Doe" />
                                                                        </div>
                                                                        <div class="6u 12u(narrow)">
                                                                                <input type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
                                                                        </div>
                                                                </div>
                                                                <div class="row 50%">
                                                                        <div class="12u">
                                                                                <div class="select" tabindex="-1">
                                                                                        <select name="department" id="department">
                                                                                                <option value="">Choose a department</option>
                                                                                                <option value="1">Manufacturing</option>
                                                                                                <option value="2">Administration</option>
                                                                                                <option value="3">Support</option>
                                                                                        </select>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div class="row 50%">
                                                                        <div class="12u">
                                                                                <input type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
                                                                        </div>
                                                                </div>
                                                                <div class="row 50%">
                                                                        <div class="12u">
                                                                                <textarea name="message" id="message" placeholder="Enter your message"></textarea>
                                                                        </div>
                                                                </div>
                                                                <div class="row">
                                                                        <div class="12u">
                                                                                <ul class="actions">
                                                                                        <li><input type="submit" class="button" value="Send Message" /></li>
                                                                                        <li><input type="reset" class="button alt" value="Clear Form" /></li>
                                                                                </ul>
                                                                        </div>
                                                                </div>
                                                        </form>
                                                </section>
                                        </div>
                                </div>
                        </section>
                -->

                <!-- Fourth -->
                        <section id="fourth" class="main">
                                <header>
                                        <div class="container">
                                                <h2>Sed feugiat ipsum consequat</h2>
                                                <p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
                                                feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
                                        </div>
                                </header>
                                <div class="content style4 featured">
                                        <div class="container 75%">
                                                <form method="post" action="#">
                                                        <div class="row 50%">
                                                                <div class="6u 12u(mobile)"><input type="text" placeholder="Name" /></div>
                                                                <div class="6u 12u(mobile)"><input type="text" placeholder="Email" /></div>
                                                        </div>
                                                        <div class="row 50%">
                                                                <div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="12u">
                                                                        <ul class="actions">
                                                                                <li><input type="submit" class="button" value="Send Message" /></li>
                                                                                <li><input type="reset" class="button alt" value="Clear Form" /></li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </section>

                <!-- Footer -->
                        <section id="footer">
                                <ul class="icons">
                                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                                        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
                                </ul>
                                <div class="copyright">
                                        <ul class="menu">
                                                <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Demo Images: <a href="http://ineedchemicalx.deviantart.com/">Felicia Simion</a></li>
                                        </ul>
                                </div>
                        </section>

                <!-- Scripts -->
    <%= javascript_include_tag 'application' %>
                        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

        </body>
</html>
